.navbar__brand {
    margin-right: 0px;
}

.navbar__logo {
    margin-right: 0;
}

/* Consolidate navbar and sidebar CSS. */
.navbar--dark {
    --ifm-navbar-background-color: #375298;
}
/* navbar (full width) */
.navbar {
    background-color: #375298;
}
.navbar .navbar__link {
    color: #ffffff;
    font-weight: 400;
}
.navbar .navbar__link:hover,
.navbar .navbar__link--active {
    color: #ffffff !important;
    text-decoration: underline;
}

/* sidebar */
.theme-doc-sidebar-menu .menu__link {
    color: #000000;
}
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link {
    color: #dadde1;
}

.theme-doc-sidebar-menu .menu__link:hover,
.theme-doc-sidebar-menu .menu__link--active {
    color: #3366cc;
}
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link:hover,
[data-theme='dark'] .theme-doc-sidebar-menu .menu__link--active {
    color: #3366cc;
}

/* mobile nav menu */
@media (max-width: 996px) {
    .menu__link {
        color: #ffffff;
        background-color: #375298;
        font-weight: 400;
    }
    .menu__link:hover,
    .menu__link--active {
        color: #ffffff;
        text-decoration: underline;
        background-color: #375298;
    }

    /* sidebar */
    .theme-doc-sidebar-menu .menu__link {
        color: #ffffff;
    }
    .theme-doc-sidebar-menu .menu__link:hover,
    .theme-doc-sidebar-menu .menu__link--active {
        color: #ffffff;
    }
}

/* Remove opacity/transition -- makes the colors too dim. */
.footerLogoLink_BH7S {
    opacity: 1;
}

/* Remove the dots between items in the footer links list -- links: []. */
/* Nothing I tried has worked yet, except my cheat -- make the dots the same color as the footer background.  ;-). */
.footer__link-separator {
    color: #323846;
}

.footer__links {
    margin-bottom: 1rem;
    font-size: 14px;
}

.footer {
    background-color: #101010;
}
