/* Hero full-width */
.fullHero {
    width: 100%;
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #e8e8e8;
    color: #000000;
}
html[data-theme="dark"] .fullHero {
  background-color: #252525;
  color: white;
}

.heroInner {
    max-width: 900px;
    margin: 0 auto;
}

.heroTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.heroSubtitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
